<div class="taining-sell-contents">
    <div class="training-text-main">
        <h2 class="items-sell-title">トレーニングの情報を編集する</h2>
        <%= form_with model: @training, local: true do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
            <div class="new-text">
                <div class="training_tile">
                    トレーニングメニュー
                    <span class="indispensable">(必須)</span>
                </div>
                <%= f.text_area :training_title, class:"training-title", id:"item-name", placeholder:"メニュー（必須 40文字まで)", maxlength:"40" %>
                <div class="training_time">
                    トレーニング時間(大体)
                    <span class="indispensable">(必須)</span>
                </div>
                <%= f.text_area :training_time, class:"training-time", id:"item-name", placeholder:"トレーニング時間(1時間から2時間など)", maxlength:"25" %>
                <div class="training_text">
                    トレーニング内容
                    <span class="indispensable">(必須)</span>
                 </div>
                <%= f.text_area :training_text, class:"training-text", id:"item-info", placeholder:"トレーニングの具体内容" ,rows:"7" ,maxlength:"1000" %>
            </div>
            <div class="sell-btn-contents">
                <%= f.submit "変更する" ,class:"sell-btn" %>
                <%=link_to 'もどる', root_path, class:"back-btn" %>
            </div>
        <% end %>
        <div class="caution">
            <p class="sentence">
               <a href="#">迷惑な投稿</a>
               <a href="#">行為</a>
                は決して行わないように注意してください
            </p>
        </div>
    </div>
 </div>