 <%= link_to image_tag("training_logo3.png", class:"training-icon"), "/" %>
    <h2 class="items-sell-title">トレーニングの情報</h2>
    <%= form_with model: @training, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="new-text">
            <div class="nickname">
                投稿者
                <%= @training.user.nickname%>
            </div>
            <div class="training_tile">
                トレーニングメニュー
                <span class="indispensable">必須</span>
            </div>
            <%= f.text_area :training_title, class:"training-title", id:"item-name", placeholder:"メニュー（必須 40文字まで)", maxlength:"40" %>
            <div class="training_time">
                トレーニング時間(大体)
                <span class="indispensable">必須</span>
            </div>
            <%= f.text_area :training_time, class:"training-time", id:"item-name", placeholder:"トレーニング時間(1時間から2時間など)", maxlength:"25" %>
            <div class="training_text">
                トレーニング内容
                <span class="indispensable">必須</span>
            </div>
            <%= f.text_area :training_text, class:"training-text", id:"item-info", placeholder:"トレーニングの具体内容" ,rows:"7" ,maxlength:"1000" %>
            </div>
            <% if user_signed_in? %>
                <% if  current_user.id == @training.user_id %>
                    <div class="sell-btn-contents">
                        <%= link_to "編集する", edit_training_path, method: :get, class:"sell-btn" %>
                        <p class="or-text">or</p>
                        <%=link_to '削除する', training_path, method: :delete, class:"sell-btn" %>
                        <p class="or-text">or</p>
                        <%=link_to 'もどる', root_path, class:"sell-btn" %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>

    <div class="container">
      <% if user_signed_in? %>
        <%= form_with(model: [@training, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <h4><コメント一覧></h4>
        <% @comments.each do |comment|%>
          <p>
            <strong><%= link_to comment.user.nickname,"/users/#{comment.user_id}" %>:</strong>
            <%= comment.text %>
          </p>
        <% end %>
      </div>
    </div>